{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <nav class="flex items-center">
        <div>
        Books by category:
        </div>
        <ul class="list ml1 pa0 flex flex-wrap">
            {% for category in categories %}
            <li class="mr2 pr2 bw1 br"><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
            {% comment %} {% url 'category-detail' slug=category.slug %} {% endcomment %}
            {% endfor %}
        </ul>
    </nav>
    <h2>Recently added books</h2>
    <div class= "center mw9 ph3-ns br3 hidden ba b--black-10 mv4">  
        <div class="cf ph2-ns">
            {% for book in books %}
            <div class="fl w-100 w-50-ns pa2">
                <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">
                    <a href="{% url 'book-detail' slug=book.slug %}"> {{ book.title }}</a>
                    - by {{ book.author }}
                </h1>
                <div class= "pa3 bt b--black-10">
                    <p class="f6 f5-ns lh-copy measure">
                        {{ book.book_description | truncatewords:50 }}
                    </p>
                    <span class="green">Favorited {{ book.favorited_count }} times |</span>
                    <span>added {{ book.added_on|date:"Y-m-d" }}</span> | 
                    <span>
                        Category:
                        {% for category in book.book_categories.all %}
                        <a class="ph1" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        {% endfor %}
                    </span>                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if books.has_other_pages %}
    <div class="flex items-center justify-center pa4">
        {% if books.has_previous %}
            {% comment %} <li><a href="?page={{ books.previous_page_number }}">&laquo;</a><li> {% endcomment %}
            <a href="?page={{ books.previous_page_number }}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
                <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
                    <title>chevronLeft icon</title>
                    <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
                </svg>
                <span class="pl1">Previous</span>
            </a>
        {% endif %}
        <span class="pr4">
            Page {{ books.number }} of {{ books.paginator.num_pages }}
        </span>
        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
            <span class="pr1">Next</span>
                <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
                    <title>chevronRight icon</title>
                    <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
                </svg>
            </a>
        {% endif %}
   </div>
    {% endif %}
{% endblock %}