{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% block meta %}{% endblock %}
    <title>Freeshelf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="flex items-center justify-between bg-green white ph3">
      <div>
        <a href="{% url 'index' %}" style="text-decoration: none"><h1 class="white">FreeShelf</h1></a>
      </div>

      {% block title %}{% endblock %}

      <div>
        <a class="washed-blue" href="#">Login</a> | <a class="washed-blue" href="#">Register</a>
      </div>
    </header>
  {% comment %}  {% endcomment %}
  {% block content %}{% endblock %}
</body>
</html>